/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT VARIABLE */
:root {
  --color-body: #b3b3b3;
  --color-text: #7e7e7e;
  --color-plan-text: #8e8e8e;
  --color-plan-hover-text: #4d4d4d;
  --color-feature-text: #b3b3b3;
  --color-footer-item: #b3b3b3;
  --color-card-text: #979c9f;
  --color-accordion-text: #888;
  --color-navbar-item: #999;
  --color-primary: #288ed9;
  --color-btn-primary: #288ed9;
  --color-section-title: #288ed9;
  --color-white: #fff;
  --color-btn-hover: #2380c5;
  --color-btn-secondry-hover: #1b6499;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "B Yekan", Tahoma, Arial;
  font-size: 1.4rem;
  color: var(--color-body);
  line-height: 1.7;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--color-btn-primary);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.block {
  padding: 0 1.5rem;
}

@media screen and (min-width: 1440px) {
  .block {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: hsla(0, 0%, 100%, 0.72) !important;
}

.link {
  text-decoration: none;
}

.navbar-right {
  display: flex;
  width: 100%;
}

.navbar-left {
  margin-top: 2.7rem;
  display: none;
}

.navbar-left a {
  padding: 0.6rem 1.5rem;
}

.navbar-right .link {
  color: var(--color-navbar-item);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.nav__item {
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav__item,
  .navbar-left {
    display: flex;
  }

  .nav__item {
    font-size: 1.58rem;
  }

  .nav__list {
    justify-content: flex-start;
  }

  .navbar-right {
    width: 85%;
    margin-top: 1.2rem;
  }

  .nav__brand {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav__brand {
    margin-left: 4rem;
  }

  .nav__item {
    font-size: 1.8rem;
  }
}

/* Button */
.btn {
  border-radius: 3rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn-white {
  color: var(--color-btn-primary);
}

.btn-blue {
  background-color: var(--color-btn-primary);
  color: var(--color-white);
  margin-right: 0.3rem;
}

.btn-blue:hover {
  background-color: var(--color-btn-hover);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}

/* DROPDOWN */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  box-shadow: 0 3px 15px 0 rgb(40 142 217 / 40%);
  background-color: var(--color-white);
  border-radius: 0.8rem;
  border-top: 5px solid var(--color-btn-primary);
  margin-top: 4rem;
  margin-right: -1rem;
  transition: all 0.2s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown > .link:hover {
  color: var(--color-btn-primary);
}

.dropdown-content .link {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.15s all linear;
  border-radius: 0.4rem;
  color: var(--color-btn-primary);
  background-color: var(--color-white);
}

.dropdown-content .link:hover {
  box-shadow: 0 3px 15px 0 rgb(40 142 217 / 40%);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1;
}

/* TOGGLER */
.nav__toggler {
  cursor: pointer;
  padding-top: 1.5rem;
  z-index: 151;
}

.bar {
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-btn-primary);
  margin: 0.5rem 0;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 28px;
}

.navbar-right.nav__expanded .bar-one {
  transform: translateY(8px) rotate(45deg);
}

.navbar-right.nav__expanded .bar-two {
  opacity: 0;
}

.navbar-right.nav__expanded .bar-three {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 1024px) {
  .nav__toggler {
    display: none;
  }
}

/* MOBILE MENU */

.mobile-menu-wrap {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 91, 159, 0.2);
  right: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: 150;
}

.mobile-menu {
  background-color: var(--color-white);
  height: 100vh;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 10px 0px #aaa;
  position: fixed;
  padding: 2.5rem 0;
  overflow-y: auto;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.header-details {
  padding: 0 1.4rem;
}

.header-details .menu-button {
  border-radius: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  font-family: "B Yekan";
}

.header-details .menu-button:nth-child(1) {
  background-color: var(--color-white);
}

.header-details .menu-button:nth-child(1) a {
  color: var(--color-primary);
  padding: 0.5rem 0;
}

.header-details .menu-button:nth-child(2) {
  padding: 0.3rem 1.4rem;
  margin-right: 1rem;
}

.header-details .menu-button:nth-child(2) a {
  color: var(--color-white);
}

.header-tel {
  margin-right: 0.6rem;
  background-color: var(--color-primary);
  padding: 0.65rem 1rem;
  border-radius: 3rem;
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.7rem;
}

.header-tel i {
  vertical-align: middle;
}

.mobile-menu .menu-items {
  padding-top: 3rem;
}

.menu-items li {
  padding: 1.2rem 0;
  font-size: 1.7rem;
  position: relative;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.menu-items a {
  padding: 0 1.3rem;
}

.item-parent i {
  position: absolute;
  left: 1.6rem;
  top: 1.7rem;
  font-size: 1.8rem;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu .child-menu {
  display: none;
  background-color: var(--color-primary);
  margin-top: 1rem;
}

.child-menu a {
  color: var(--color-white) !important;
}

.mobile-menu-wrap.show-wrap {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-wrap.show-wrap .mobile-menu {
  transform: translateX(0%);
}

.item-parent.is-open .child-menu {
  display: block;
}

.item-parent.is-open a {
  color: var(--color-primary);
  transition: color 0.15s ease-in-out;
}

.item-parent.is-open i {
  transform: rotate(-180deg);
  color: var(--color-primary) !important;
}

@media screen and (min-width: 375px) {
  .mobile-menu {
    min-width: 290px;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-menu-wrap {
    display: none;
  }
}

/* Card Fig */
.card-fig {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  height: auto;
}

.card-fig__image {
  width: 100%;
  align-self: center;
}

.card-fig__image img {
  width: 100%;
}

.card-fig__header {
  margin-top: 3rem;
}

.card-fig__title {
  font-size: 2.1rem;
}

.card-fig__subtitle {
  font-size: 1.7rem;
}

.card-fig__desc {
  text-align: justify;
  margin: 2rem 0 3rem 0;
  color: var(--color-text);
  font-size: 1.5rem;
}

.card-fig__btn {
  background-color: var(--color-btn-primary);
  color: var(--color-white);
  text-decoration: none;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  transition: all 0.15s ease-in-out;
}

.card-fig__btn:hover {
  background-color: var(--color-btn-secondry-hover);
}

.card-fig__btn:hover i {
  transform: translateX(-2px);
}

@media screen and (max-width: 800px) {
  .card-fig {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 600px) {
  .card-fig__title {
    font-size: 2.5rem;
  }

  .card-fig__subtitle {
    font-size: 1.7rem;
  }
  .card-fig__desc {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 800px) {
  .card-fig {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .card-fig__header {
    margin-top: 5rem;
  }
  .card-fig__image {
    width: 60%;
    margin-right: 5rem;
  }
  .card-fig__title {
    font-size: 2.9rem;
  }
  .card-fig__subtitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1050px) {
  .card-fig__header {
    margin-top: 12rem;
  }

  .card-fig__image {
    align-self: flex-start;
  }
}

/* PLAN */
.plan-section {
  height: auto;
  margin-top: 10rem;
}
.plan__header {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}
.block-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  grid-gap: 6rem;
  margin-top: 8rem;
}
.plan {
  border: 1px solid #288ed9;
  box-shadow: 0 10px 20px 0 rgb(40 143 217 / 40%);
  border-radius: 0.5rem;
  padding: 4rem 2.5rem;
  position: relative;
}

.plan__title {
  position: absolute;
  width: 20rem;
  text-align: center;
  top: -2.5rem;
  right: 0;
  left: 0;
  margin: auto;
  color: var(--color-white);
  font-size: 2.2rem;
  padding: 0.7rem;
  border-radius: 3.1rem;
}

.plan__title.one {
  background-color: #52acea;
}

.plan__title.two {
  background-color: #30a3d1;
}

.plan__title.three {
  background-color: #137fcf;
}

.plan__title.four {
  background-color: #005b9f;
}

.plan__price,
.plan__text {
  text-align: center;
}

.plan__price {
  margin-top: 1.5rem;
}

.plan__price p {
  font-size: 3rem;
  display: inline-block;
  margin-left: 0.3rem;
}

.plan__price.first {
  color: #52acea;
}

.plan__price.second {
  color: #30a3d1;
}

.plan__price.third {
  color: #137fcf;
}

.plan__price.fourth {
  color: #005b9f;
}

.plan__text {
  margin: 2rem 0;
  color: var(--color-plan-text);
  font-size: 1.6rem;
}
.plan__feature {
  display: flex;
  gap: 1.5rem;
  color: var(--color-plan-text);
  font-size: 1.6rem;
}

.plan__feature img {
  width: 20px;
}

.plan-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__btn {
  background-color: var(--color-btn-primary);
  color: var(--color-white);
  text-decoration: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  padding: 0.8rem;
  margin-top: 3rem;
  border-radius: 3rem;
  cursor: pointer;
}

.plan__btn:hover {
  background-color: var(--color-btn-secondry-hover);
}

@media screen and (min-width: 768px) {
  .plan__header {
    font-size: 2.8rem;
  }

  .plan__text {
    font-size: 1.8rem;
  }

  .plan__feature {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .plan {
    margin-top: 2.5rem;
  }

  .block-plan {
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 430px));
  }

  .plan {
    border: 1px solid #ccc;
    box-shadow: none;
  }

  .plan:hover {
    border: 1px solid #288ed9;
    box-shadow: 0 10px 20px 0 rgb(40 143 217 / 40%);
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
  }

  .plan__btn {
    width: 300px;
  }

  .plan-section {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1440px) {
  .block-plan {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  }

  .plan__btn {
    width: 150px;
  }
}

/* FEATURES SECTION */
.features-section {
  height: auto;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.section-header {
  margin-bottom: 3rem;
}

.section__title {
  font-size: 2rem;
  text-align: center;
}

.section__subtitle {
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-navbar-item);
}

.feature {
  display: flex;
  flex-direction: column;
  padding-bottom: 9rem;
  gap: 2rem;
}

.feature__image {
  width: 100%;
}

.feature__image img {
  width: 100%;
}

.feature__title {
  font-size: 1.7rem;
}

.feature__description {
  text-align: justify;
  font-size: 1.5rem;
  color: var(--color-feature-text);
}

.feature__btn {
  background-color: var(--color-btn-primary);
  color: var(--color-white);
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  margin-top: 2.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.15s ease-in-out;
}

.feature__btn:hover {
  background-color: var(--color-btn-secondry-hover);
}

.feature__btn:hover i {
  transform: translateX(-2px);
}

@media screen and (min-width: 500px) {
  .feature__title {
    font-size: 2.1rem;
  }

  .feature__description {
    font-size: 1.6rem;
  }

  .feature__btn {
    font-size: 1.9rem;
    padding: 0.6rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .feature {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  .features-section {
    height: auto;
    margin-top: 25rem;
  }

  .section-header {
    margin-bottom: 7rem;
  }

  .section__title {
    font-size: 2.5rem;
  }

  .section__subtitle {
    font-size: 2rem;
  }

  .feature {
    align-items: center;
    gap: 0 5rem;
    padding: 0 0.5rem 1rem;
  }

  .feature.odd {
    flex-direction: row;
  }

  .feature.even {
    flex-direction: row-reverse;
  }

  .feature__title {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  .feature__description {
    font-size: 1.7rem;
  }

  .feature__details {
    width: 100%;
  }

  .feature__image {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .feature {
    padding: 0 3rem 9rem;
    gap: 0 6rem;
  }
  .section__subtitle {
    padding: 0 10rem;
  }

  .feature.odd .feature__image {
    padding-right: 1.5rem;
  }

  .feature.even .feature__image {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .feature {
    padding: 0 7rem 7rem;
  }

  .feature__details {
    padding: 0 6rem;
  }
}

/* ELEMENTOR */
.elementor-section {
  margin: 5rem 0;
}
.elementor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  padding: 0 2rem;
}
.elementor {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-btn-primary);
  padding: 1rem 0.5rem;
  filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.101961));
  border-radius: 1.3rem;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 4rem;
  max-width: 350px;
}

@media screen and (min-width: 768px) {
  .elementor-container {
    padding: 0;
    gap: 0 3rem;
  }
  .elementor {
    width: auto;
    padding: 1rem 3rem;
  }
}

/* CARDS SECTION */
.elementor-widget {
  padding: 1rem;
}

.elementor-widget-section {
  background-color: #f2f8fa;
  height: auto;
  padding: 4rem 0 8rem;
}

.elementor-widget header {
  display: flex;
  justify-content: center;
}

.elementor-widget-header {
  font-size: 2rem;
  color: var(--color-section-title);
}

.card-content {
  display: grid;
  grid-template-columns: repeat(1, 285px);
  justify-content: center;
  grid-gap: 2rem;
}

.card {
  background-color: var(--color-white);
  padding: 2.5rem 2.5rem 4.8rem;
  box-shadow: 0 3px 6px #248fde1c;
  border-radius: 3rem;
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 1.7rem;
}

.card__desc {
  text-align: justify;
  margin-top: 1.2rem;
  font-size: 1.35rem;
  color: var(--color-card-text);
  line-height: 2.8rem;
}

@media screen and (min-width: 400px) {
  .card-content {
    grid-template-columns: repeat(1, 336px);
  }
}

@media screen and (min-width: 768px) {
  .elementor-widget-header {
    font-size: 2.7rem;
  }
  .elementor-widget-section {
    padding-top: 7rem;
  }
  .elementor-widget-section-body {
    padding: 3.5rem 0;
  }
  .card-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 345px));
    grid-gap: 3rem;
  }

  .card {
    padding: 1.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .elementor-widget-header {
    font-size: 3rem;
  }

  .elementor-widget-section {
    padding-top: 9rem;
  }

  .card-content {
    grid-template-columns: repeat(3, 370px);
    grid-gap: 10rem 2.7rem;
  }

  .card {
    padding: 2.5rem 3.4rem;
  }

  .card__title {
    font-size: 2rem;
  }

  .card__image {
    height: 70px;
  }

  .card__desc {
    font-size: 1.55rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .card-content {
    grid-template-columns: repeat(3, 400px);
  }
}

/* INFO SECTION */
.info {
  height: auto;
}

.info-section {
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}

.info-section__body {
  max-width: 65.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 64px rgb(0 0 0 / 6%);
  border-radius: 1.6rem;
  margin: 1rem 0;
  position: relative;
}

.info-right {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 3.5rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.info__title {
  font-size: 5.5rem;
  text-align: center;
}

.info__subtitle {
  font-size: 3rem;
  text-align: center;
}

.info-left {
  background-color: var(--color-white);
  color: #5e5d5d;
  padding: 3.5rem;
  margin: 4rem;
  border-radius: 5rem;
}

.info__desc {
  text-align: justify;
  font-size: 1.75rem;
  line-height: 4.5rem;
}

@media screen and (min-width: 768px) {
  .info {
    padding: 7rem 0;
  }

  .info-section__body {
    flex-direction: row;
    max-width: 102rem;
  }

  .info-right {
    position: absolute;
    right: 40px;
    max-width: 340px;
    padding: 3rem;
  }

  .info-left {
    margin: 3rem 0;
  }

  .info__desc {
    padding-right: 38rem;
  }
}

@media screen and (min-width: 1024px) {
  .info {
    padding: 5rem 0;
  }

  .info-left {
    margin: 6rem 0;
    padding: 3.5rem 4.5rem;
  }

  .info__desc {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .info-left {
    margin: 8rem 0;
  }
}

/* OTHER FEATURE SECTION */
.other-features {
  height: auto;
  padding: 1rem;
}

.other-features-section {
  background: linear-gradient(
    to bottom,
    rgba(214, 238, 255, 0) 0,
    #d6eeff 100%
  );
  padding: 5rem 0;
}

.other-feature__header {
  text-align: center;
}

.other-features__title {
  font-size: 2.2rem;
  margin: 0;
}

.other-features__subtitle {
  font-size: 1.7rem;
  color: var(--color-plan-text);
  padding-bottom: 2.5rem;
}

.features-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 500px));
  justify-content: center;
  grid-gap: 3rem;
  padding: 0 1rem;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  border-radius: 0.7rem;
  box-shadow: 0 10px 30px 0 rgba(0, 91, 159, 0.2);
}

.feature-card__image {
  max-height: 5rem;
  max-width: 5rem;
}

.feature-card__header {
  font-size: 1.8rem;
}

.feature-card__desc {
  font-size: 1.3rem;
  color: var(--color-feature-text);
}

@media screen and (min-width: 500px) {
  .features-content {
    grid-template-columns: repeat(2, minmax(220px, 370px));
  }
  .other-features__title {
    font-size: 2.3rem;
  }
  .other-features__subtitle {
    font-size: 2rem;
  }
  .feature-card__header {
    font-size: 1.9rem;
  }
  .feature-card__desc {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .other-features-section {
    padding: 8rem 0 15rem;
  }
  .other-features__subtitle {
    padding-bottom: 3.5rem;
  }
  .features-content {
    grid-template-columns: repeat(3, minmax(220px, 370px));
  }
  .other-features__title {
    font-size: 2.7rem;
  }
  .other-features__subtitle {
    font-size: 2.1rem;
  }
  .feature-card__header {
    font-size: 1.9rem;
  }
  .feature-card__desc {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .features-content {
    grid-template-columns: repeat(4, minmax(220px, 285px));
  }
}

/* QUESTION ACCORDION */
.accordion-section {
  padding: 5rem 2rem 10rem;
  height: auto;
  max-width: 110rem;
  margin: 0 auto;
}

.accordion__title {
  font-size: 2rem;
  text-align: center;
}
.accordion__subtitle {
  color: var(--color-feature-text);
  font-size: 1.4rem;
  text-align: justify;
}

.questions-wrapper {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.question__item {
  background-color: var(--color-white);
  box-shadow: 0 8px 56px rgb(0 0 0 / 3%);
  margin: 0.8rem;
  padding: 2rem 2.5rem;
  border-radius: 1.6rem;
}

.question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.question__title {
  font-size: 1.7rem;
  color: var(--color-accordion-text);
  margin: 0;
}

.question__answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.08s ease-out;
}

.question__answer table {
  width: 100%;
  border-collapse: collapse;
}

.question__answer table td {
  width: 70%;
}

.question__answer table tr {
  border-bottom: 0.5px solid #f1ecec;
}

.accordion__expanded .question__answer {
  font-size: 1.6rem;
  color: var(--color-accordion-text);
  opacity: 1;
  max-height: 100vh;
  margin-top: 1.5rem;
}

.accordion__expanded .question__title {
  color: var(--color-primary);
}
.accordion__expanded .question__header i {
  transform: rotate(180deg);
  color: var(--color-primary) !important;
}

@media screen and (min-width: 768px) {
  .accordion__title {
    font-size: 2.5rem;
  }
  .accordion__subtitle {
    font-size: 1.6rem;
  }
  .question__title {
    font-size: 2.1rem;
  }
  .question__answer table td {
    width: 50%;
  }
  .accordion__expanded .question__answer {
    font-size: 1.75rem;
  }
}

/* FOOTER */
.footer {
  padding: 5.625rem 15px 1rem;
}
.section-wrap {
  padding: 4rem 0 8rem;
  max-width: 125rem;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 0 1rem;
}

.footer__links-title {
  font-size: 1.75rem;
  color: var(--color-primary);
}

.footer__bar {
  width: 3rem;
  height: 2px;
  background-color: #fec7a9;
  margin: 1.5rem 0;
}

.footer__links ul {
  list-style: none;
}

.footer__links a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-feature-text);
  line-height: 2;
  transition: color 0.15s ease-in-out;
}

.footer__links a:hover {
  color: var(--color-primary);
}

.footer__aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding-top: 2rem;
}

.footer__aside-btn-one,
.footer__aside-btn-two {
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1rem;
  width: 50%;
  margin: 0 0.4rem 0.5rem 0.4rem;
  min-width: inherit;
  max-width: 15rem;
  text-align: center;
  border-radius: 3rem;
  color: var(--color-primary);
  font-size: 1.7rem;
  cursor: pointer;
}

:is(.footer__aside-btn-one, .footer__aside-btn-two):hover {
  color: #1b6499;
  border-color: #1b6499;
}

@media screen and (min-width: 500px) {
  .footer__aside {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer__aside-btn-one,
  .footer__aside-btn-two {
    max-width: 27rem;
  }
}

@media screen and (min-width: 800px) {
  .footer__nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .section-wrap {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
  }

  .footer__nav {
    padding: 0;
    gap: 5rem;
  }

  .footer__links-title {
    font-size: 2.1rem;
  }

  .footer__links a {
    font-size: 1.7rem;
  }

  .footer__bar {
    width: 4rem;
    margin: 2.2rem 0;
    height: 2.5px;
  }

  .footer__aside {
    width: 28%;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0.5rem 0;
    padding: 0;
  }
  .footer__aside-btn-one,
  .footer__aside-btn-two {
    font-size: 1.7rem;
    margin: 0 0 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .footer__nav {
    gap: 7.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .footer__nav {
    gap: 8rem;
  }
}

/* FOOTER MENU */
.footer__menu {
  padding: 3rem 0;
  text-align: center;
}

.footer__menu-logo img {
  width: 67px;
  height: 67px;
  box-shadow: 0 10px 20px 0 rgba(4, 50, 85, 0.15);
  border-radius: 100%;
}

.footer__menu-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.menu-item {
  margin-bottom: 0.6rem;
}

.menu-item a {
  font-size: 1.7rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  color: #7ebbe8;
}

.menu-item a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 500px) {
  .footer__menu {
    padding: 5rem 0;
  }
  .footer__menu nav {
    padding: 0 2.5rem;
  }

  .footer__menu-items {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-item:nth-child(1) {
    order: 4;
  }

  .menu-item:nth-child(2) {
    order: 1;
  }

  .menu-item:nth-child(3) {
    order: 2;
  }

  .menu-item:nth-child(4) {
    order: 3;
  }

  .menu-item:nth-child(5),
  .menu-item:nth-child(6),
  .menu-item:nth-child(7) {
    order: 5;
  }
}

@media screen and (min-width: 1024px) {
  .footer__menu {
    padding: 8rem 0;
  }
}

/* FOOTER SOCIALS */
.socials__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 20rem;
  margin: 0 auto;
}

.social a {
  text-decoration: none;
}

.social i {
  font-size: 2.5rem;
  color: var(--color-footer-item);
  transition: fill 0.15s ease-in-out;
}

.social i:hover {
  color: var(--color-primary);
}

.social__desc {
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-footer-item);
}

.copy-right {
  color: var(--color-footer-item);
  font-size: 1.3rem;
  padding-top: 2.5rem;
  text-align: center;
}

.copy-right a {
  text-decoration: none;
  color: var(--color-primary);
}

/* BTN SCROLL TO TOP */
.scroll-top {
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-btn-primary);
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.scroll-top i {
  transform: rotate(180deg);
  color: #fff;
}
